.MangaCart-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 10px 10px 0;
}
.MangaCart-container img{
    border-radius: 7px;
}

.MangaCart-container div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px 0 5px 0;
    font-size: 15px;

}

.MangaCart-container div span{
    font-size: 14px;
    color: gray;
}