.BigCartManga-container{
    display: flex;
    flex-direction: row;
}
.Manga{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 10px 10px 0;
}
.Manga img{
    border-radius: 7px;
}

.Manga div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px 0 5px 0;
    font-size: 15px;
}

.Manga span{
    font-size: 14px;
    color: rgb(128, 128, 128);
}
