.FormInfo-container{
    display: flex;
    gap: 40px;
}

.ChapterImages-container{
    display: flex;
    gap: 20px;
}

.ChapterImages-container img{
    object-fit: fill;
    border-radius: 10px;

}