

.CreateForm-container{
    padding: 30px;
    border-radius: 7px;
    background-color: #2f2f2f;
}

.CreateForm-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CreateForm-container form input{
    height: 50px;
    width: 100%;
    padding-left: 10px;
}
.CreateForm-container form h3{
    margin-top: 0;
}

.File-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(70px * 2.5);
    height: calc(100px * 2.5);
    border: dashed 2px rgb(128, 128, 128);
    border-radius: 7px;

    cursor: pointer;
}

.File-container img{
    border-radius: 7px;
}

.File-container label{
    text-align: center;
}

.CreateForm-container form  textarea{
    width: 90%;
    height: 100px;
    resize: none;
    background-color: var(--input-bg-color);
    color: white;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.CreateForm-container .MainInfo-container{
    display: flex;
    flex-direction: row;

    gap: 40px;
}

.Info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.Additionally-info-container{
    display: flex;
    flex-direction: row
}

.Additionally-info-container div{
    flex: 1;
}

.Authors-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
